*,*:after,*:before{
  box-sizing: border-box;
}
ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
body,html{
  padding: 0;
  margin: 0;
}
.flex{
  display: flex;
}
.jcsb{
  justify-content: space-between;
}
.aic{
  align-items: center;
}
.fxdc{
  flex-direction: column;
}
.tac{
  text-align: center;
}
.jcsa{
  justify-content: space-around;
}
.fww{
  flex-wrap: wrap;
}
.container{
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}
.mt-5{
  margin-top: 50px;
}